<div id="form-container" class="container">
  <%= simple_form_for(@user) do |f| %>
    <div id="info">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :role, collection: ["rider", "manager"], default: "rider" %>
      <%= f.input :email %>
      <%= f.input :phone_number %>
      <%= f.input :admin, collection: [true, false], default: false%>
      <%= f.submit class: "btn-large" %>
    </div>
  <% end %>
</div>
