<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div id="at-home">
    <div id="btn-home" class="<%= 'active' if current_page?(dashboard_path) %>">
      <%= link_to '<i class="fas fa-home"></i>'.html_safe, dashboard_path, title: 'Home', data: { toggle: 'tooltip' } %>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <!-- button modal redirect on shared/modal -->
          <button type="button" class="btn-large nav-link" data-toggle="modal" data-target="#customer" data-customer=" <%= @customer = Customer.new %> ">
            New Customer
          </button>
        </li>
        <li class="nav-item">
          <%= link_to "New Order", new_order_path, class: "btn-large nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <i class="fas fa-user-circle avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Parameters", edit_user_registration_path, class: "dropdown-item dropdown-item-top" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item dropdown-item-bottom" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
