<% if current_user.role != "rider" %>
  <div class="container">
    <%= simple_form_for(@customer) do |f| %>
      <div id="info">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :phone_number, required: true %>
        <%= f.input :address, required: true %>
        <%= f.input :zip_code, required: true  %>
        <%= f.input :city, required: true  %>
        <%= f.submit class: "btn-large", id: "btn-customer" %>
      </div>
    <% end %>
  </div>
<% end %>
