<div id="order-show-container">
  <% if current_user.admin? || current_user.role == "manager" %>
    <div class="d-flex"><h2>Order #<%= @order.id %></h2><span class="flex-grow-1"></span><span><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, order_path(@order), method: :delete, data: { confirm: 'Are you sure?' } %></span></div>
  <% end %>
  <p>Create: <%= @order.created_at.strftime("%A, %d-%m-%Y at %H:%M") %></p>
  <p>Payment Method: <%= @order.payment_method %></p>
  <p>Recovery Mode: <%= @order.recovery_mode %></p>
  Delivery Status: <a href="#" class="dropdown-toggle dropdown" id="deliveryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="order-status-<%= @order.delivery_status %>"><%= @order.delivery_status.capitalize %></span></a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="deliveryDropdown">
      <% if current_user.admin? || current_user.role == "manager" %>
        <div class="dropdown-item dropdown-item-top">Pending</div>
        <div class="dropdown-item dropdown-item-center">Ready</div>
        <div class="dropdown-item dropdown-item-center">Delivering</div>
      <% end %>
      <div class="dropdown-item dropdown-item-bottom">Delivered</div>
    </div>
  <%# if @order.delivery_route != nil %><p class="mt-2">Delivery Man: <%#= @order.delivery_route.user.first_name %> <%#= @order.delivery_route.user.last_name %></p>
    <%#  %>
  <%# end %>

  <%= simple_form_for(@order) do |f| %>
    <%= f.input :delivery_status, label: false %>
    <%= f.submit id: "btn-change-status", class: "hidden" %>
  <% end %>

  <div id="order-show-customer">
    <h3><%= @order.customer.last_name %> <%= @order.customer.first_name %></h3>
    <p><i class="fas fa-phone"></i><%= @order.customer.phone_number %></p>
    <p><i class="fas fa-map-marked"></i><%= @order.customer.address %>, <%= @order.customer.zip_code %> <%= @order.customer.city %></p>
  </div>

  <div id="order-show-content">
    <ul>
      <li class="display-product products-header"><span class="product-name text-center">Product</span><span class="product-quantity">Quantity</span><span class="product-price">Price in <i class="fas fa-euro-sign"></i></span></li>
      <% @order.order_products.each do |order_product| %>
        <li class="display-product"><span class="product-name"><%= order_product.product.name %></span><span class="product-quantity"><%= order_product.quantity %></span><span class="product-price"><%= order_product.product.price %></span></li>
      <% end %>
    </ul>
  </div>

  <div id="order-show-footer"><span class="flex-grow-1"></span><span>Total Price: <%= @order.total_price %><i class="fas fa-euro-sign"></i></span></div>
</div>
