<div id="dashboard">
  <div id="date">
    <div id="tab">
      <h1>Today</h1>
    </div>
    <div id="calendar">
       <p><%= Date.today.strftime('%b %d,  %Y') %></p>
       <a href=""><i class="far fa-calendar-alt"></i></a>
    </div>
  </div>
  <div class="row" id="cards_dashboard">
    <div class="card-info">
      <p>Target</p>
      <div class="price_card"><h2><%= @target %></h2></div>
      <%= link_to "Details", "#", class: "btn-card-info" %>
    </div>
    <div class="card-info">
      <p>Orders</p>
      <div class="price_card">
        <h2> <%= @today_order %> </h2>
      </div>
      <%= link_to "Details", orders_path, class: "btn-card-info" %>
    </div>
    <div class="card-info">
      <p>Total Customers</p>
      <div class="price_card">
        <h2><%= Customer.all.count %></h2>
      </div>
      <%= link_to "Details", customers_path, class: "btn-card-info" %>
    </div>
  </div>
  <div class="stat">



    <div class="container">
      <canvas id="myChart" class="stat" data-orders="<%= @orders %>"></canvas>
      <%= content_tag :div, class: "previous_week", data:
      {
        week: @previous_week,
        monday_orders: @mon_p_sum,
        tuesday_orders: @tue_p_sum,
        wednesday_orders: @wed_p_sum,
        thursday_orders: @thu_p_sum,
        friday_orders: @fri_p_sum,
        saturday_orders: @sat_p_sum,
        sunday_orders: @sun_p_sum
      } do %>
      <% end %>

      <%= content_tag :div, class: "actual_week", data:
      {
        week: @actual_week,
        monday_orders: @mon_a_sum,
        tuesday_orders: @tue_a_sum,
        wednesday_orders: @wed_a_sum,
        thursday_orders: @thu_a_sum,
        friday_orders: @fri_a_sum,
        saturday_orders: @sat_a_sum,
        sunday_orders: @sun_a_sum
      } do %>
      <% end %>
    </div>

  </div>

</div>
<%= console %>
