<% @categories.each do |category| %>
  <%= category.name %>
  <a href="#categoryEditModal<%= category.id %>" data-toggle="modal" data-target="#categoryEditModal<%= category.id %>" data-edit=" <%= @category = category %>">edit</a>
  <%= link_to "destroy", category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= render "modalEdit" %>
<% end %>
