<div id="form-container" class="container">
  <%= simple_form_for(@product) do |f| %>
    <div id="info">
      <%= f.input :name, placeholder: "sushi" %>
      <%= f.input :category_id, collection: @categories, selected: 1 %>
      <%= f.input :description, as: :text %>
      <%= f.input :price, placeholder: "5€" %>
      <%= f.input :price_in_menu, placeholder: "7€" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn-large nav-link" %>
    </div>
  <% end %>
</div>
