<div class="btn-content">
  <button type="button" class="btn-large nav-link btn-product" data-toggle="modal" data-target="#productModal" data-product=" <%= @product = Product.new %> ">
    New Product
  </button>
  <button type="button" class="btn-large nav-link btn-product" data-toggle="modal" data-target="#categoryModal" data-category=" <%= @category = Category.new %> ">
    New Category
  </button>
  <div class="text-right pt-2">
    <%= render 'modal' %>
    <%= render 'categories/modal' %>
  </div>
</div>
<%= render "searchbar" %>
<%= render "product_card", products: @productHash %>
