<%= render "searchbar" %>
<%= render "product_card", products: @productHash %>
<div class="text-right pt-2">
  <div class="btn-content">
    <button type="button" class="btn-large nav-link btn-product" data-toggle="modal" data-target="#productModal" data-product=" <%= @product = Product.new %> ">
      New Product
    </button>
    <button type="button" class="btn-large nav-link btn-product" data-toggle="modal" data-target="#categoryModal" data-category=" <%= @category = Category.new %> ">
      New Category
    </button>
    <%= link_to "Edit Categories", categories_path, class: "btn-large nav-link btn-product"  %>
  <div class="btn-content">
  <%= render 'modal' %>
  <%= render 'categories/modal' %>
</div>
